h1 {
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
font-family: 'Orbitron', sans-serif;
font-size: 25px;
justify-content: center;
display: flex;

}

.cell {
    background-color: #DFEAF0;
    border: solid black 1px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-shadow: 0 0 2px black;
    
}



.row {
    display: flex;
}

.bomb {
    /* background: url('../img/bomb.png') no-repeat center center fixed; */
    line-height: 60px !important;
    font-size: 25px !important;
    background-color: #ffcccb ;  
    
}

.clickbomb {

    line-height: 60px !important;
    font-size: 25px !important;
    background-color: red;

}

.findbomb {
    background-color: green;

}

.flag {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../img/red-flag.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #86C6EE;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #86C6EE;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.number-1 {
    color: blue;
    font-size: 25px;

}
.number-2 {
    color: green;
    font-size: 25px;
}
.number-3 {
    color: red;
    font-size: 25px;
}
.number-4 {
    color: darkblue;
    font-size: 25px;
}
.number-5 {
    color: maroon;
    font-size: 25px;
}
.number-6 {
    color: turquoise;
    font-size: 25px;
}
.number-7 {
    color: black;
    font-size: 25px;
}
.number-8 {
    color: gray;
    font-size: 25px;
}

.border-up-left {
    border-top-left-radius: 15px;
}
.border-up-right {
    border-top-right-radius: 15px;
}
.border-down-left {
    border-bottom-left-radius: 15px;
}
.border-down-right {
    border-bottom-right-radius: 15px;
}

#retryButton {
    margin: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

#playAgainButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 15px;
    font-size: 30px;
    text-transform: uppercase;
    color: green;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }